<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "methods" >

    <listeners>
        <listener class-name="extentReportListener.TestListener"></listener>
    </listeners>

    <test thread-count="1" name="Test">
        <parameter name = "CRUD" value="CRUD"/>
        <classes>
            <class name="com.postman.test.CRUDTest"/>
        </classes>
    </test>

</suite>

